table {
    font-size: 15px;
}

table thead {
    font-weight: 600;
    text-align: center;
}

svg{
    margin-top: -5px;
}

.cstm-page-header{
    border-bottom: 1px solid gainsboro;
    padding: 10px;
}
    .cstm-page-header .page-name{
        font-size: 25px;
        font-weight: 600;
    }
    .cstm-page-header .page-description{
        font-size: 14px;
    }


.cstm-info{
    font-size: 15px;
    font-weight: 600;
    padding: 10px;
    border: 1px solid gainsboro;
    border-radius: 5px;
    background-color: whitesmoke;
    color: dimgray;
}

.cstm-btn {
    background-color: white;
    border:none;
    padding: 7px;;
    font-weight: 600;
}

.cstm-btn:hover {
    background-color: gainsboro;
}

