table {
    font-size: 15px;
}

table thead {
    font-weight: 600;
    text-align: center;
}

svg{
    margin-top: -5px;
}

.cstm-page-header{
    border-bottom: 1px solid gainsboro;
    padding: 10px;
}
    .cstm-page-header .page-name{
        font-size: 25px;
        font-weight: 600;
    }
    .cstm-page-header .page-description{
        font-size: 14px;
    }

